.jumbotron
{
    margin: 0px auto;
    padding: 50px 30px 50px 30px ; 
    background-color: #B833FF ;
color: aliceblue
}

.row-hadder 
{
    margin: 0px auto;
    padding: 0px auto;
    border-bottom: 1px ridge;
}

.row-content
{
    margin: 0px auto;
    padding: 30px 0px 30px 0px ; 
    border-bottom: 1px ridge;
    min-height: 200px;
}

.address
{
    font-weight: 700;
    font-size: 80%;
    margin:0px auto;
}

.footer
{
    margin: 0px auto;
    padding: 30px 0px 30px 0px ; 
   background-color: aqua;
}
.jumborton
{
    margin: 0px auto;
    padding: 30px 20px 30px 20px ; 
    background-color: #B833FF ;
color: aliceblue;
}

.row-about{
    margin: 0px auto;
    padding: 0px auto;
    border-bottom: 1px ridge;
    max-height: 100px;
}